nav {
width: 100%;
background: #888383;
border-bottom: 2px solid #000;
height: 26px;
color: #fff;
overflow: hidden;
font-size: 20px;
padding: 5px 0 5px 0;
}
.main-title {
font-family: 'Raleway', sans-serif;
border-bottom: 2px solid black;
text-align: left;
color: #fff;
background-color: #f53d3d;
height: 78px;
font-size: 0.8rem;
}
.pull-left{float:left}
.pull-right{float:right}
.tagline{padding: 8px 25px;
font-family: 'Raleway', sans-serif;
color: #fff;
font-size: 0.8rem;
}
.tagline span {
font-size: 2.4rem;
    line-height: 1em
}
ul.social{list-style-type: none;    padding: 52px 7px 0 0;}
ul.social li{display: inline;
margin-left: 8px;color:#fff;font-size: 20px !important;}
ul.social li a{color:#fff;text-decoration:none}
ul.social li a:hover{text-decoration:underline}
.hide{display:none}
.grouppad{    padding: 0 20px;}
.text {
margin: 0;
color: #000;
font-size: 24px;
}
.dropdown-menu,.dropdown-menu2  {
display: block;
margin-top: 30px;
border: 2px solid grey;
height: 37px;
float:left;
padding-left: 4px;
border-radius: .25rem;
}
.dropdown-category,.dropdown-category2 {
border: 2px solid grey;
height: 37px;
margin-top: 30px;
padding-left: 4px;
margin-left:20px;
float:left;
border-radius: .25rem;
}
.story {
width: 100%;
padding-right: 18px;
}
.trending-header {
color: #000;
font-family: 'Raleway', sans-serif;
margin: 0;
}
.h3, h3 {
font-size: 1.75rem;
}
.trending-articles {
margin-top: 7px;
border-bottom: 2px solid gray;
font-size: 14px;
}
.trending-articles a {
color: #000;
font-family: 'Raleway', sans-serif;
}
a {
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
text-decoration:none
}
a:hover{text-decoration:underline}
.latest {
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 1rem;
line-height: 1.5;
margin-bottom:10px;
padding-bottom: 5px;
}
.text {
margin: 0;
color: #000;
font-size: 24px;
font-family: 'Raleway', sans-serif;
}
.trending-articles {
margin-top: 7px;
border-bottom: 2px solid gray;
font-size: 14px;
}
@media only screen and (max-width: 480px) {
.dropdown-category,.dropdown-menu2,.dropdown-category2{margin-left:0}
}
img{width:100%}
.headlines-title {
background-color: #f53d3d;
font-size: 1.4rem;
color: #fff;
padding: 5px;
}
.back-to-top {
z-index: 100;
position: fixed;
bottom: 3px;
right: 5%;
background: #a52a2a;
width: 50px;
height: 50px;
display: block;
opacity: 0.5;
text-decoration: none;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
display: none;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.back-to-top i {
color: #000;
margin: 0;
position: relative;
left: 8px;
top: 5px;
font-size: 40px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.headlines {
border: 2px solid black;
margin-top: 30px;
max-width: 65%;
font-size: 2.8rem;
margin-left: auto;
margin-right: auto;
background-color: #f53d3d;
}
.headlines-title {
font-size: 2rem;
}
@media only screen and (max-width: 480px) {
.dropdown-category,.dropdown-menu,.dropdown-category,.dropdown-category2,.dropdown-menu2{width:100%}
.headlines-title{
font-size: 1.4rem !important;
}
.headlines{ max-width: 90%;}
}
@media only screen and (max-width: 768px) {
.headlines-title{
font-size: 1.4rem !important;
}
.headlines{ max-width: 80%;}
}
@media only screen and (max-width: 480px) {
ul.social li {
font-size:14px !important;
}
.tagline span{font-size: 2rem;}
}
